<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Web QA System</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="/lib/js/bootstrap.min.js"></script>
    <!-- thymeleafの読み込み -->
    
    <style type="text/css">
      <!--
      .readUnderLine { border-style: none none solid solid; 
                 border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #3399cc; 
                 border-width: medium medium 1px 5px;
                 padding: 5px 10px; 
                 margin-bottom: 1em; 
                 background-color: transparent;
  
      }
      a.ansHtmlPath {
                        color: blue;
                        text-decoration:underline; 
      }
      -->
    </style>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <script>
      //<![CDATA[
      $(function() {
          // Ajax通信テスト ボタンクリック（2回目以降、documentにイベントハンドラ追加されるので「(document).on(..」を使う）
          $(document).on('submit', '#formGetData', function(event) {
//          $('#formGetData').submit(function(event) {
              // HTMLでの送信をキャンセル（2重送信防止）
              event.preventDefault();
              // 入力エラーを削除
              $(".error-messages").text('');
              
              // 操作対象のフォーム要素を取得
              var $form = $(this);
              // 送信ボタンを取得
              var $button = $form.find('button');
              $.ajax({
                  url         : $form.attr('action'), //Formのアクションを取得して指定する
                  type        : $form.attr('method'),//Formのメソッドを取得して指定する
                  data        : $form.serialize(), //データにFormがserialzeした結果を入れる
                  timeout     : 60000,  // 単位はミリ秒
                  dataType    : 'html',
                  cache       : false,
                  
                  // 送信前
                  beforeSend: function(xhr, settings) {
                      // ボタンを無効化し、二重送信を防止
                      $button.attr('disabled', true);
                  },
                  // 応答後
                  complete: function(xhr, textStatus) {
                      // ボタンを有効化し、再送信を許可
                	  $button.attr('disabled', false);
                  },
                  
                  success     : function(data) {
                                  success(data);
                              },
                  error       : function(XMLHttpRequest, textStatus, errorThrown) {
                                  error(XMLHttpRequest, textStatus, errorThrown);
                              }
              });
          });
      });
         
      // Ajax通信成功時処理
      function success(data) {
//         alert("success:" + data);
         var hasInputError = $(data).find('#errorFlag').val();
         if (1 == hasInputError) {
             // Ajaxで画面（INPUTエリアのみ更新）
             $("#inputArea").html("");
             $("#inputArea").html(data);
         } else {
             // Ajaxで画面（テーブルのみ更新）
             $("#anserList").html("");
             $("#anserList").html(data);
         }
      }
        
      // Ajax通信失敗時処理
      function error(XMLHttpRequest, textStatus, errorThrown) {
          alert("error:" + XMLHttpRequest);
          alert("status:" + textStatus);
          alert("errorThrown:" + errorThrown);
      }

      $(function () {
          $(document).on('click', '#inputClearBtn', function(event) {
    	    // テキストボックスへ値を設定します
    	    $("#inputQueText").val('');
    	  });
    	});
      //]]>
        </script>
    </head>
    
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">準備中</a>
          </div>
        
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                    <font size="4" color="White" style="text-transform: none;">サイト概要（GitHub）</font><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://github.com/S-okubomy/webQASys_201707" target="_blank">WEB画面の概要とソース</a></li>
                  <li><a href="https://github.com/S-okubomy/svmForWebQASys_201707" target="_blank">機械学習の概要とソース</a></li>
                  <li><a href="#">準備中</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">準備中</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">準備中</a></li>
                </ul>
              </li>
              <li class="active"><a href="#">準備中 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">準備中</a></li>
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">準備中</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
        
        <!-- 内容 ================================================== -->
        <div class="container jumbotron">
          <h1>Web Answers 試作</h1>
          <p>...</p>
          
            <!-- Forms ================================================== -->
            <div id = "inputArea"> <!-- Ajaxで画面更新1 START行 -->
                  <form class="form-horizontal" id="formGetData" th:action="@{/webqa/getWebQAData}"
                          th:object="${indexForm}" method="post">
                    <fieldset>
                      <legend>質問を入力してください。</legend>
                      <div class="form-group">
                        <label for="InputText" class="col-sm-2 control-label">質問</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputQueText" placeholder="質問入力欄" 
                                 value = "" th:field="*{inputQueText}"></input>
                          <span th:if="${#fields.hasErrors('inputQueText')}" th:errors="*{inputQueText}"
                                class="error-messages">error!</span>
                          <!-- 入力エラーがあれば、サーバ側でフラグを立て、ajax関数内で判定を行う -->
                          <input type="hidden" id="errorFlag" th:value="${hasErrorFlag}" />
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <div class="col-sm-10 col-lg-offset-2">
                          <button type="button" class="btn btn-default" id="inputClearBtn">クリア</button>
                          <button type="submit" class="btn btn-primary" id="btnAnswer">回答を探す</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                  
            </div> <!-- Ajaxで画面更新1 END行 -->
            <h3 class="readUnderLine">回答候補<br />
            <small>回答候補の昇順に並べ替えてあります。</small>
            </h3>
            
            <p th:text="'The time on the server is ' + ${serverTime} + '.'" />
              
            <div id = "anserList"> <!-- Ajaxで画面更新2 START行-->
              <h4>質問タイプ： </h4>
              <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>質問分類</th>
                    <th>fx</th>
                    <th>文章:</th>
                </tr>
                <tr th:each="resultQueType : ${resultQADto.resultQueTypeList}">
                    <td th:text="${resultQueType.ansBunrui}"></td>
                    <td th:text="${#numbers.formatDecimal(resultQueType.fxValue,1,2,'DEFAULT')}"></td>
                    <td th:text="${resultQueType.ansSentence}"></td>
                </tr>
              </table>
              
              <h4>回答： </h4>
              <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>回答分類</th>
                    <th>fx</th>
                    <th>文章:</th>
                </tr>
                <tr th:each="resultAns : ${resultQADto.resultAnsList}">
                    <td th:text="${resultAns.ansBunrui}"></td>
                    <td th:text="${#numbers.formatDecimal(resultAns.fxValue,1,2,'DEFAULT')}"></td>
                    <td><a class="ansHtmlPath" href="" th:href="@{${resultAns.htmlPath}}" target="_blank"
                          th:text="${resultAns.ansSentence}">NODATA</a></td>
                </tr>
              </table>
            </div> <!-- Ajaxで画面更新2 END行-->
        </div>
    </body>
</html>